<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>VueTV</title>

    <link rel="stylesheet" type="text/css" href="reset_plus.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="https://vuetv.acmoore.co.uk/js/vue-bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="lodash.min.js"></script>
    <script src="app.js" defer></script>
</head>

<body>

  <div id="app">
      <div class="search"></div>
        <form v-on:submit.prevent="searchVideos">
          <div class="ui-widget">
            <input id="youtube" type="text" placeholder="Search Video" v-model="search">
            <button id ="submit" type="submit">Search</button>
          </div>
        </form>

        <ul id="searchresults">
          <li v-for="video in searchResults">
            <a href="#">
                <img :src="video.image">
                {{ video.title }}
            </a>
            <button @click="addQueue(video)">+</button>
          </li>
        </ul>
        <h1 id="videoTitle">Hier komt de titel</h1>
        <youtube ref="youtube" :video-id="video_id" :player-vars="playerVars"></youtube>
        <nav>
            <button @click="playVideo">play</button>
            <button @click="pauseVideo">pause</button>
            <button @click="stopVideo">stop</button>
            <input @mousemove="setVolume" type="range" name="volume" id="volume" value="">
        </nav>

        <ul id="queue">
          <li v-for="video in queue">
            <a href="#">
                <img :src="video.image">
                {{ video.title }}
            </a>
            <button @click="removeQueue(video)">X</button>
          </li>
        </ul>



  </div>
</body>
</html>
