html{
  font-size: 1rem;
}

form{
  margin-bottom: 2rem;
}

h1{
  font-size: 3rem;
}

ul{
  background-color: lightgrey;
  display: block;
  margin-right: 0;
}

li{
  padding: 1rem;
  border-bottom: 0.1rem solid black;
}

li:hover{
  background-color: grey;
}

img{
  width: 10vw;
}

#searchresults, #queue{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
}




/*ui-helper-hidden-accessible div{
  position: absolute;
  right: 0;
  top: 0;
}
ytp-button{
  display: none;
}
ytp-button ytp-expand{
  display: none;
}*/
